<h1>Portfolio items</h1>

<%= link_to 'Create New Item', new_portfolio_path %>

<% @portfolio_items.each do |item| %>
  <h3><%= link_to item.title, portfolio_path(item) %></h3>
  <p><%= item.subtitle %></p>
  <p><%= item.body %></p>
  <%= image_tag item.thumb_image if item.thumb_image %>
  <%= link_to 'Edit', edit_portfolio_path(item) %>
<% end %>